
  .field{
    height: 20px;
    width: 260px;
    margin: auto;
    .h3{
      height: 30px;
      width: auto;
      font-size: 20px;
      margin-top: 15px;
    }
    .actions{
      margin-top: 20px;
    }
    .btn-next{
      height: 30px;
      width: 100px;
      margin-top: 20px;
    }
    select{
      width:173px;
    }
  }
  span.plate-required {
    color: red;
  }
